---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Exec from '@/components/Exec.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getCurrentExecTerm } from '@/lib/data-utils'

const term = await getCurrentExecTerm()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Meet the Exec" />
  {
    term ? (
      <Exec term={term} />
    ) : (
      <>
        <Breadcrumbs
          items={[
            { label: 'Authors', icon: 'lucide:users', href: '/authors' },
            { label: 'Exec', icon: 'lucide:sparkles' },
          ]}
        />
        <p class="text-muted-foreground text-center">No exec members found.</p>
      </>
    )
  }
</Layout>
