---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Summit" />
  <Breadcrumbs items={[{ label: 'Summit', icon: 'lucide:mountain-snow' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          astro-erudite is an opinionated, unstyled static blogging template
          that prioritizes simplicity and performance, built with <Link
            href="https://astro.build"
            external
            underline>Astro</Link
          >, <Link href="https://tailwindcss.com" external underline
            >Tailwind</Link
          >, and <Link href="https://ui.shadcn.com" external underline
            >shadcn/ui</Link
          >. It provides a clean foundation for your content while being
          extremely easy to customize.
        </p>
        <p>
          To learn more about the philosophy behind this template, check out the
          following blog post: <Link
            href="/blog/the-state-of-static-blogs"
            underline>The State of Static Blogs in 2024</Link
          >.
        </p>
      </div>
    </div>
  </section>
</Layout>
