@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --fc-list-event-hover-bg-color: #6d60c180;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#content * {
  z-index: 1;
}

.box-no-padding {
  @apply rounded-lg border-4 border-wai-gray bg-pure-white shadow-sm shadow-wai-gray;
}

.box {
  @apply box-no-padding p-4;
}

body * {
  @apply font-mono text-wai-gray;
}
