.blankTile {
  width: var(--tile-size);
  height: var(--tile-size);
}

.tile0 {
  background-color: #aaa;
  position: relative;
}

.tile1 {
  background-color: #777;
  position: relative;
}

.highlightOrb {
  width: calc(var(--tile-size) / 2);
  height: calc(var(--tile-size) / 2);
  background-color: #ac6dff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Chess piece styles */
.chessPiece {
  width: var(--tile-size);
  height: var(--tile-size);
  background-image: url("/images/competition/chess/Chess_Pieces_Sprite.png");
  background-size: 600%;
}

/* Positioning for chess pieces */
.white {
  background-position-y: 0px;
}

.black {
  background-position-y: var(--tile-size);
}

.king,
.k {
  background-position-x: 0px;
}

.queen,
.q {
  background-position-x: calc(var(--tile-size) * -1);
}

.bishop,
.b {
  background-position-x: calc(var(--tile-size) * -2);
}

.knight,
.n {
  background-position-x: calc(var(--tile-size) * -3);
}

.rook,
.r {
  background-position-x: calc(var(--tile-size) * -4);
}

.pawn,
.p {
  background-position-x: calc(var(--tile-size) * -5);
}
